/* . Requires a class */
/* # Requires an ID */

#loginOption
{
	width: 5%;
	height: 5%;
}

#signupOption
{
	width: 5%;
	height: 5%;
}

.signupDIV{
	align:center;
	display:none;
}

.loginDIV{
	align:center;
	display:none;
}

#imageButton
{
	padding: 0;
	border: none;
	background: none;	
	width: 25%;
	height: 25%;
}

.white_content
{
	position:absolute;
	
	top:65px;
	left:235px;
	width:1080px;
	height:600px;
	background-color:#FFF;
	display:none;
	z-index:1000;
}

.black_content
{
	display:none;
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:black;
	opacity:.70;
	z-index:1;
	
}

ul
{
	list-style-type:none;
	background-color:#c5c5c5;
	height:50px;
	overflow:hidden;
}

li
{
	float:left;
}

li a, .drp
{
	  display: inline-block;
	  color: black;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration:none;
	  font-size: 25px;
	  padding: 10px 35px;
	  
}

li .menu-item
{
	display:inline-block;
}

.menu-content
{
	display:none;
	position:absolute;
	background-color:#f8f8f8;
	z-index:1;
}

.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-item:hover .menu-content
{
	display:block;
}

a
{
	font-family: Arial;
	color: Black;
	text-decoration: none;
}

a:hover
{
	color: Blue;
	text-decoration: underline;
}

table {
  border-spacing: 30px;
}

.cart1
{
	right:5px;
	top:50px;
	position:absolute;
	overflow:hidden;
}



